:root {
  --c-brand: #a223d0;
  --c-brand-light: #c44bf0;

  /* 主色调 */
  --color-main: var(--c-brand);
  /* 底部栏色调 */
  --color-border: #c84de1;
  /* 引用字体色*/
  --color-block: #a84de1;
  /* 加粗色调 */
  --color-strong: #aa26da;
  /* 代码样式 */
  --color-code: #9526da;
  /* 引用边框色 */
  --color-border-left: #8626da;

  /* 代码背景色 */
  --color-code-bg: rgba(158, 84, 232, 0.3);
  /* 引用背景色 */
  --color-block-bg: rgba(205, 77, 225, 0.15);
}